
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit; /*change the box model so the border and paddings are not adding to total width and height*/

}

html{
    font-size:10px;

    
}

body{
    box-sizing:border-box;
}

.control{
    position:absolute;
    bottom: 50%;
    left: 40%;
}

.meeting{
    font-size:4rem;
}

.meetingname{
    font-size:3rem;
}

.name{
    font-size:3rem;
}

.cameras{
    height:16vh;
}
.participants{
    /* background-color: rgb(131, 130, 130); */
    
}

.local-participant{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(131, 130, 130); */
    justify-content: center;
    margin: 0 1.5rem;
}
.local-participant-camera{
    padding: 0.2rem 0.2rem;
}

.remote-participants{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.remote-participants-camera{
    padding: 0.2rem 0.2rem;
}
.participant{
    position:relative;

}
.hoverclass .participant-name{
    position: absolute;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background: rgb(245, 88, 88);
    font-size: 1rem;
    line-height: 1;
    opacity: 70%;
    visibility: hidden;
}
.hoverclass:hover .participant-name{
    visibility: visible;

}

.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;

}
.dominant{
    background-color:  rgb(233, 233, 233);
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:65vh;
    /* background-color: rgb(131, 130, 130); */
}
.dominant-camera{
    position:absolute;
    height:63vh;
    width:100%;
}
.dominant-default{
    width:100%;
    height:63vh;
    background-image: url("../img/ph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hoverclass .dominant-name{
    position: absolute;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background: rgb(245, 88, 88);
    font-size: 3rem;
    line-height: 1;
    opacity: 70%;
    visibility: hidden;
}
.hoverclass:hover .dominant-name{
    visibility: visible;

}
.menu{
    /* background-color: rgb(131, 130, 130); */
    height: 16vh;
}
.buttons{
    display:flex;
    flex-direction: column;
}




/*Code below is the login page css that we starte*/

/* .header{
    height:95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.805),rgba(40, 180, 133, 0.805));
    background:cover;
    background-position:top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position:relative;

}

.Logo{
    font-size: 3rem;
    display:inline-block;
    margin: 0px 2rem;
}
.menu{
    float:right;
    display: inline-block;
    font-size: 2rem;
}
.menu-item{
    margin: 0px 2rem;
} */